.bottomRow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  flex-grow: 1;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  padding: 1rem 0 1rem 0;
  gap: 0.5rem;
}

.dataCard {
  position: relative;

  p {
    padding: 1rem 1rem;
    margin: 0;
  }
}
