.wrapper {
  flex: 1;
  max-height: 700px;
  padding: 10px;
  position: relative;
  margin: auto;

  p {
    text-align: center;
  }
}

.double_wrapper {
  max-width: 1500px;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
  gap: 0.5rem;
}
